/*font-family: font46578;*/

.tw{
	color: white;
	font-family: font121731;
}

#bagbar{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 5%;
	background-color: rgb(53, 53, 53);
	color: #d3d3d3;
	font-family: font83056;
	font-size: 12px;
}

#bagleft{
	display: inline-block;
	padding-left: 10px;
	line-height: 100%;
	vertical-align: middle;
}

.bagright{
	display: inline-block;
	float: right;
	padding-right: 10px;
	line-height: 100%;
	vertical-align: middle;

}

#bagimg{
	display: inline-block;
	width: 20px;
	height: 20px;
	float:right;
	padding-right: 5px;
	padding-top: 0.5%;
}

p.bagright:hover{
	color: white;
}

.userbar{
	position: absolute;
	right: 0;
	width: 100%;
	height: 5%;
	top: 5%;
	background-color: rgb(235, 235, 255);
}

div.userbar > ul{
    position: absolute;
    top: 24.5%;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
    text-align: center;
}

ul.menuList > li{
	float: left;
}

ul.signInList{
	float: right;
}

ul.signInList > li{
	float: left;
}

div.userbar > ul > li a:not(.divisor){
	display: inline-block;
	color: #2c2c2c;
	width: 80px;
	height: 35px;
	text-align: center;
	padding-top: 11px;
	padding-left: 25px;
	padding-right: 25px;
	text-decoration: none;
	font-size: 12px;
	font-family: font83056;
	top: 0;
	bottom:0;
}

div.userbar > ul > li a.divisor{
	display: inline-block;
	padding-top: 6px;
}

div.userbar > ul.menuList > li a:hover{
	/*background-image: url("Pets.svg");
	background-size: 130px 130px;
	background-repeat: no-repeat;
	background-position: 0% 150%;*/
	background-color: white;
}

div.userbar > ul.signInList > li a:not(.divisor):hover{
	text-decoration: underline;
}

.majorbar{
	position: relative;
	right: 0px;
	width: 100%;
	height: 40px;
	top: 10%;
	background-image: url("img/Pets.svg");
	background-size: 130px 130px;
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.logobar{
	position: absolute;
	display: inline-block;
	text-align: center;
	top:10%;
	width: 100%;
	height: 14%;
	right: 0px;
}

.optionbar{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 5%;
	top: 24.5%;
	right:0;
    text-align: center;
}

#logoimg{
	margin-top: -0.5%;
	width: 320px;
	height: 80px;
}

#formbusca{
	position:absolute;
	display: inline-block;
	float: right;
	right: 40px;
	top: 20px;
}

#searchimg{
	position:absolute;
	display: inline-block;
	float: right;
	width: 20px;
	height: 20px;
	right: 10px;
	top: 20px;
}

input{
	width: 100%;
}

div.optionbar > ul{
    list-style-type: none;
    margin-left: 25%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

div.optionbar > ul > li{
    float: left;
}

div.optionbar > ul > li a{
    display: inline-block;
    color: #2c2c2c;
    text-align: center;
    height: 5%;
    padding: 8.5px 35px;
    text-decoration: none;
    font-size: 13px;
	font-family: font83056;
	text-decoration: none;
	background-color: white;

}

div.optionbar > ul > li a:hover{
	background-color: rgb(235, 235, 255);
}

footer{
	position: absolute;
	top: 150%;
	width: 100%;
	left: 0;
	height: 10%;
	background-color: rgb(53, 53, 53);
}

#sectioncalendar {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 45%;
    left: 15%;
    margin: auto;
    box-sizing: border-box;
}

#calendarioimg {
    width: 100%;
    height:100%;
}

#titlecalendar {
    position: absolute;
    width: 98%;
    height: 20%;
    top: 30%;
    text-align: center;
    line-height: 95%;
    font-family: font83056;
    left: 2%;
    box-sizing: border-box;
    background-image: url("img/branchtree.png");
    background-size: 310px 180px;
    background-repeat: no-repeat;
    background-position: 50% -60%;
}

.titulo {
    font-size: 22px;
}

.subtitulo {
    font-size: 12px;
}

.overlaycalendar{
    position: absolute;
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    z-index: 10000;
}

#sectioncalendar:hover .overlaycalendar {
    display:inline-block;
}

#agendaimg {
    width: 100%;
    height:100%;
}
