/*font-family: font46578;*/

.tw{
	color: white;
	font-family: font121731;
}

#bagbar{
    position: absolute;
	width: 100%;
	height: 20%;
	background-color: rgb(53, 53, 53);
	color: #d3d3d3;
	font-family: font83056;
	font-size: 12px;
    margin-bottom: 0;
    z-index: 1;
}

#bagleft{
	display: inline-block;
    float:left;
	padding-left: 10px;
	line-height: 100%;
}

.bagright{
	display: inline-block;
	float: right;
	padding-right: 10px;
	line-height: 100%;
}

#bagimg{
	display: inline-block;
	width: 20px;
	height: 20px;
	float:right;
	padding-right: 5px;
	padding-top: 0.5%;
}

p.bagright:hover{
	color: white;
}

.userbar{
	position: absolute;
    left:0;
    top:10%;
	width: 100%;
	height: 30%;
	background-color: rgb(235, 235, 255);

}

div.userbar > ul{
	/*display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;*/
    list-style-type: none;
}

ul.menuList > li{
	float: left;
    margin:0;
}

ul.signInList{
    padding-left: 70%;
    height: 80%
}

ul.signInList > li{
	float: left;
}

div.userbar > ul > li a:not(.divisor){
	display: inline-block;
    float: left;
	color: #2c2c2c;
	height: auto;
	text-align: center;
    padding: 15px 15px;
	text-decoration: none;
	font-size: 15px;
	font-family: font83056;
}

div.userbar > ul > li a.divisor{
	display: inline-block;
	padding-top: 6px;
}

div.userbar > ul.menuList > li a:hover{
	/*background-image: url("Pets.svg");
	background-size: 130px 130px;
	background-repeat: no-repeat;
	background-position: 0% 150%;*/
	background-color: white;
}

div.userbar > ul.signInList > li a:not(.divisor):hover{
	text-decoration: underline;
}

.majorbar{
	position: absolute;
    top:40%;
	width: 100%;
    height:150px;
	background-image: url("img/Pets.svg");
	background-size: 130px 130px;
	background-repeat: repeat-x;
	background-position: 0% 0%;
    z-index: -1;
}

.logobar{
    top:-10%;
	position: relative;
	text-align: center;
	width: 100%;
    height: 70%;
    z-index: 9999;
}

.optionbar{
	position: absolute;
    left:0;
    top:85%;
	display: inline-block;
	width: 100%;
}

#logoimg{
    position:absolute;
    top:9%;
	width: 120px;
	height: 65;
    margin-left:44.5%;
    display: block;
}

#formbusca{
	position:absolute;
	display: inline-block;
	float: right;
	right: 40px;
	top: 80px;
}

#searchimg{
	position:absolute;
	display: inline-block;
	float: right;
	width: 20px;
	height: 20px;
	right: 10px;
	top: 20px;
}

input{
	width: 100%;
}

div.optionbar > ul{
    list-style-type: none;
    margin-left: 25%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

div.optionbar > ul > li{
    float: left;
}

div.optionbar > ul > li a{
    display: inline-block;
    color: #2c2c2c;
    text-align: center;
    height: 5%;
    padding: 8.5px 35px;
    text-decoration: none;
    font-size: 13px;
	font-family: font83056;
	text-decoration: none;
	background-color: white;

}

div.optionbar > ul > li a:hover{
	background-color: rgb(235, 235, 255);
}

#cat{
	position: absolute;
    left: 0;
    background-image: url(img/dog.jpg);
      background-size: cover;
  background-attachment: fixed;
      width: 100%;
      height: 900px;
    z-index: -1;
}

.catimg{
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.catimg:hover{
	opacity: 0.5;
}

#maisvendidos{
    position: absolute;
    top:650px;
	width: 100%;
	height: auto;
	right: 0;
    text-align: center;
}

div > h3.titulo{
	width: 100%;
	height: 100%;
	top: 0;
	margin-top: 0;
    margin-bottom: 40px;
	text-align: center;
	font-size:30px;
	box-sizing: border-box;
}

div > h3.titulo > span{
   color: white;
   font-family: font46578;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0);
   padding: 5px;
   /*border: 2px solid rgb(200, 200, 220);*/
   border-radius: 50px;
}

#selection{
	display: block;
	width: 98%;
	height: 350px;
    margin-bottom: 40px;
}

.produto{
	display: inline-block;
	width: 20%;
	height: 100%;
    background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*border-radius: 25px;*/
	text-align: center;
	margin: 10px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.produto .image{
	width: 100%;
	height: 70%;
    padding: 10px;
    max-height: 350px;
    max-width: 250px;
}

p.decricao{
	position: relative;
	font-family: font46578;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	margin-top: 2%;
	line-height: 70%;
}

span.descricao{
	position: relative;
	font-family: font46578;
	font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

span.preco{
	position: relative;
	font-family: font46578;
	font-size: 16px;
	font-weight: bold;
	line-height: 130%;
    text-decoration: none;
}

.arrow{
	vertical-align: 500%;
}

#linedivider{
	position: relative;
	width: 100%;
	height: 40px;;
	right: 0;
	background-image: url("img/linedivider.png");
	/*background-size: 130px 130px;*/
	background-repeat: no-repeat;
	background-position: 50% 0%;

}

#grid{
	position: relative;
    display:block;
    margin-left: 5%;
    text-align: center;
    top:20px;
	width: 90%;
	height: 600px;
    margin-bottom: 70px;
}

.gridvertical{
	display: inline-block;
	width: 49.3%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.gridhorizontal{
	display: inline-block;
	/*padding-top: 1%;*/
	width: 100%;
	height: 49.6%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	box-sizing: border-box;
}

#imggrid1{
	position: absolute;
	width: 49.3%;
	height: 100%;
	left: 0;
}
.imggrid2{
	position: absolute;
	width: 49.3%;
	height: 49.6%;
	right: 1.08%;
}

#imggrid1:hover{
	opacity: 0.5;
}

.gridhorizontal a:hover{
	opacity: 0.5;
}

footer{
	position: absolute;
	width: 100%;
	left: 0;
	height: 80px;
	background-color: rgb(53, 53, 53);
    text-align: center;
}


.headFixed {
    overflow: hidden;
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height: 200px;
    z-index: 1;
}













footer p {
    color:white;
}



.imggrid2:hover {
    opacity: 0.5;
}

.page {
    text-align: center;
}



.produto:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

#servicos {
    position: relative;
    top: 200px;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    left: 0;
    text-align: center;
}



.vet {
    position: relative;
    text-align: center;
    width: 100%;
    top:0;
    background-image: url(img/dog-91765.jpg);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 400px;
    z-index: -1;

}

.container {
  position: relative;
    height:20%;
    bottom:0;
}

.container h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-size: 80px;
}

.supporting {
  position: relative;
  padding: 0px 0 0px;
  text-align: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.supporting .col {
  float: left;
  padding: 10px;
    margin-left: 15px;
  width: 28%;
}

.supporting h2 {
      color: white;
  font-size: 23px;
  margin-bottom: 10px;
}

.supporting p{
      color: black;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

#footerS {
    position: relative;
	width: 100%;
	left: 0;
	height: 80px;
    padding-top: 5px;
	background-color: rgb(53, 53, 53);
    text-align: center;
}

body {
   margin:0;
   padding:0;
   height:100%;
}

div {

}

.btn {

}

.btnS {
    position: relative;
    top:220px;

}

html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* Main */
#serv .main {
  text-align: center;
  background: url("img/dog-91765.jpg") no-repeat center center;
  background-size: cover;
    width: 100%;
  height: 600px;
}

#serv .main .container {
  position: relative;
  top: 100px;
}

#serv .main h1 {
  color: #fff;
  margin: 0;
    padding-top:10%;
  font-size: 120px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#serv .main p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

#serv .main .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Supporting */
.supporting {
  padding: 50px 0 80px;
  text-align: center;
}

#serv .supporting .col {
  float: left;
  padding: 10px;
  width: 28%;
}

#serv .supporting h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

#serv .clearfix {
  clear: both;
}

#serv .supporting p {
  color: #efefef;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

#serv .supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
#serv .feature {
  background: url("img/banho.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

#serv .feature .container {
  position: relative;
  top: 200px;
}

#serv .feature h2 {
  color: #fff;
  font-size: 120px;
  margin:0;
  padding:50px 0 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Footer */
#serv .footer {
  background: url("img/ferias.jpg") no-repeat top center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

#serv .footer .container {
  position: relative;
  top: 200px;
}

#serv .footer h2 {
  color: #fff;
  font-size: 120px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#serv .footer p {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
}

#serv .footer .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

#serv a.btn:hover {
  background:gray;
  color:#000;
}
#serv {
    position: absolute;
    top:200px;
    width: 100%;
}

.btn2 {
      background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
    margin-right: 20px;
  text-decoration: none;
  display: inline-block;
}

.btn2:hover {
      background:gray;
  color:#000;
}

.novidades {
    position: relative;
    left: 0;
    margin: 20px 0px;
    background-image: url(img/animal-17545.jpg);
    background-position: 50% 23%;
      background-size: cover;
      width: 100%;
      height: 300px;
}

.gridvertical .center {
    position: absolute;
    left:0;
    bottom:45%;
    width: 49.3%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 60px;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    background-color: rgba(0, 0, 0, 0.3);
}

.gridvertical .gridhorizontal .center2 {
    position: absolute;
    left:50%;
    top: 20%;
    width: 49.3%;
    color: white;
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    background-color: rgba(0, 0, 0, 0.3);
}

.gridvertical .gridhorizontal .center3 {
        position: absolute;
    left:50%;
    bottom: 20%;
    width: 49.3%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 55px;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    background-color: rgba(0, 0, 0, 0.3);
}

#ClientsPets {
    box-sizing: border-box;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 30px;
}

#selection2 {
	display: block;
	width: 98%;
	height: 100%;
    margin-bottom: 20px;
}



.produto2 {
    position: relative;
    display: inline-block;
	width: 10%;
	height: 50%;
    background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*border-radius: 25px;*/
	text-align: center;
	margin: 10px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    overflow: hidden;
}

.produto2:hover {
        box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

image2 {
    width: 50px;
	height: 50px;
}

.image2 {
    width:80%;
    height:75%;
    max-height: 100px;
    max-width: 100px;
    padding-top:5%;
    object-position: center;
    object-fit:fill;
}

#btnMain {
    background-color: black;
    padding: 15px;
    margin:5px;
    text-decoration: none;
    color:white;
}

#btnMain:hover {
    background-color: gray;
}

#nome {
    position: absolute;
    top:70%;
    left:42%;
	width: 200px;
	height: 70;
    background-color: rgba(255, 255, 255,0.5);
    /*background-color: rgba(0, 0, 0,0.1);*/
}

.cao-produto {
    display: inline-block;
	width: 20%;
	height: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*border-radius: 25px;*/
	text-align: center;
	margin: 10px;

}

.dog-line {
    position:relative;
    margin:30px;
    width: 100%;
    height: auto;
    text-align: center;
}

.cao-image {
    width: 100%;
    height: auto;

}

.cao-container {
    position: relative;

    left:5%;
    padding: 1%;
    text-align: center;
    height:30%;
    width:90%;
}

.cao-menu{
    left:0;
    position: relative;
    top:200px;
    height: 200px;

}
.cao-menu ul {
    list-style-type: none;
    margin: 0px;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.cao-menu li a {
    margin-left: -40px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.cao-menu li a.active {
    background-color: gray;
    color: white;
}

.cao-menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.prodContainer {
    position: relative;
    left:15%;
    width: 80%;
    height: 100%;
}

.descricao {
    text-transform: uppercase;
}

.cao-produto:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.menuList a {
    display: block;
    margin:0;
}



.descr-bg {
    position: absolute;
    top:200px;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

.desc-img-bg {
    background-image: url(img/animal-17545.jpg);
    background-size:cover;
    background-attachment: fixed;
    height: 400px;
    width:100%

}

.drecr-img {
    position: relative;
    float: left;
    left:5%;
    top:5%;
    width:30%;
    height:30%;
}

.descprodContainer {
    position: relative;
    left:10%;
    width: 80%;
    height: 180%;
    background-color: white;
}

.descr-item {
    position: relative;
    float:right;
    right:12%;
    top:2%;
    height:25%;
    width:40%;
    padding:5%;
    background-color: rgba(0, 0, 0, 0.04 );
    border: 2px solid black;
}

.descr-item2 {
    position: absolute;
    margin:0;
    top:45%;
    left:15%;
    width:75%;
    height: 300px;
}



#btnDesc {
    background-color: black;
    position:absolute;
    padding: 15px;
    margin-top: 60px;
    left:40%;
    text-decoration: none;
    color:white;
}

#btnDesc:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.descr-item2 p {
    width: 100%;
   margin-left: 0%;
    top:-20%;
}

#selection a {
    text-decoration: none;
}

.relIA {
    text-align: center;
    position: absolute;
    margin:0;
    top:70%;
    left:5%;
    width:90%;
    height: 370px;
    vertical-align: middle;
    display: block;
}

.descr-item h2 {
    float:left;
}

.row-recomend {
    width: 100%;
    height:83%;
    text-align: center;

}

.prod-recomend {
    position: relative;
    text-align: center;
    width:15%;
    height:100%;
    margin:1%;
    margin-left: 7%;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-recomend {
    width: 100%;
	height: 150px;
}

#btncadPet {
    margin-top:10px;
}



#cadPetPerm {
    position: relative;
    margin:20px;
    width: 100%;
    height: auto;
    text-align: center;
}

#laberPerm {
    display: inline-block;
}

#ckbxperm {

    display: inline-block;
}

.menuList {
}

.cao-container2 {
    position: relative;
    top:-1%;
    text-align: center;
    height:10%;
    width:100%;
    background-color: black;
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height:25px;
    background-color: transparent;
}



.cao-container2:hover {
    background-color: black;
}

.prod-recomend:hover {
    background-color: black;
    color:white;
}
